<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinity G35</title>
    <link rel="stylesheet" href="paginas.css">
</head>
<body>
    <div id='container'>
        <header>
            <h1 style="text-align: center;"> G-Force Store Body Parts</h1>
            <nav><h4>
                <ul>
                    <li><a href=index.html>Home</a></li>
                    <li><a href=bodyparts.html>Body Parts</a></li>
                    <li><a href=mecanica.html>Mechanics</a></li>
                    <li><a href=accessories.html>Accessories</a></li>
                    </ul>
            </h4>
            </nav>
        </header>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3G8ItR1uhxIhuiyzdIyRGMrTKxaDo_JC_yw&s" alt="">
        <img src="https://cdn.vividracing.com/file/vr/1255/2022/103302_104.webp?p=wm&w=400" alt="">
        <img src="https://cdn.vividracing.com/file/vr/1255/2022/105886_102.webp?p=wm&w=400" alt="">
        
        <ul>
            <li><b>Rear Bumper</b></li>
            <li><b>Side Skirts</b></li>
            <li><b>Front Bumper</b></li>
        </ul>

        <br>

        <img src="https://strictly-business-motorsports.myshopify.com/cdn/shop/products/Screen_Shot_2018-02-17_at_11.46.08_PM.png?v=1571438988" alt="">
        <img src="https://www.bodykits.com/images/F221789619.jpeg" alt="">
        <img src="https://m.media-amazon.com/images/I/71ZvRhfa9NL._AC_UF894,1000_QL80_.jpg" alt="">

        <ul>
            <li><c>Fenders</c></li>
            <li><c>Hood</c></li>
            <li><c>Trunk</c></li>
        </ul>
            </div>

            </div>
</body>
</html>
