<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infinity G35</title>
    <link rel="stylesheet" href="pagina.css">
</head>
<body>
    <div id='container'>
        <header>
            <h1 style="text-align: center;"> G-Force Store</h1>
            <nav><h4>
                <ul>
                    <li><a href=index.html>Home</a></li>
                    <li><a href=bodyparts.html>Body Parts</a></li>
                    <li><a href=mecanica.html>Mechanics</a></li>
                    <li><a href=accessories.html>Accessories</a></li>
                    </ul>
            </h4>
            </nav>
        </header>
        <article><h3 style="text-align: center;">¿Quienes somos?</h3>
            <p style="text-align: center;">Manufactura de piezas de interes para Infinity G35</p>
            <iframe autoplay="" src="https://www.youtube.com/embed/UOkHervAY-0" frameborder="0" width="700" height="400"></iframe>
        </article>
        <aside><h3 style="text-align: center;">ofertas del dia </h3>
            <p style="text-align: center;">30% OFF</p>
            <div class="square">
                <h2>Body kit Kuruma Z</h2>
                <p>Bumper frontal</p>
                <p>Bumper trasero</p>
                <p>"Side skirts"</p>
            </div>
        </aside>
        <footer>
            <h3 style="text-align: center;">Estamos en Camuy</h3>
            <h6 style="text-align: center;">Derecho reservado</h6>
        </footer>
        
</body>
</html>
